<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment="head">
        <title>Hotelería Nico</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/js/rutinas.js}"></script>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script> 
        
        <style>
            /* Estilos personalizados */
            .chat-container {
                max-width: 600px;
                margin: auto;
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin-top: 50px;
            }

            .chat-container .chat-box {
                margin-bottom: 20px;
                overflow-y: auto;
                max-height: 300px;
            }

            .chat-container .chat-box .message {
                margin-bottom: 10px;
            }

            .chat-container .chat-box .message .sender {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        
        <header th:fragment="header" class="header">
            
            <section id="main-header" class="py-2 bg-success text-white" style="background-image: url('https://www.chuwi.com/public/upload/image/20230824/4dc65233b9fe95f2345b9262a8751a77.jpg');">         
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-5">
                            <div style="background-color: #BCAAA4; padding: 10px; width: 380px;">
                                <h1><i class="fas fa-palm-tree"></i> [[#{plantilla.suTienda}]]</h1>         
                            </div>             
                        </div>          
                    </div>   
                </div>           
            </section> 
            
            <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #E0E0E0;">        
                <div class="container">            
                    <a th:href="@{/}" class="navbar-brand">[[#{aplicacion.titulo}]]</a>           
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">   
                        <span class="navbar-toggler-icon"></span>               
                    </button>                    
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">                       
                        <ul class="navbar-nav">                                             
                            <li class="nav-item px-2"><a class="nav-menu-link nav-link" th:href="@{/producto/listado}">[[#{plantilla.hoteles}]]</a></li>
                            <li class="nav-item px-2"><a class="nav-menu-link nav-link" th:href="@{/pregunta/listado}">[[#{plantilla.reservas}]]</a></li>
                            <li class="nav-item px-2"><a class="nav-menu-link nav-link" th:href="@{/usuario/listado}">[[#{plantilla.admin}]]</a></li>

                        </ul>               
                        <div class="col-md-3">                   
                            <ul class="navbar-nav">                                                              
                                <li class="nav-item px-2"><a class="nav-link" th:href="@{/(lang=es)}">ES</a></li>               
                                <li class="nav-item px-2"><a class="nav-link" th:href="@{/(lang=en)}">EN</a></li>                       
                           
                            </ul>                   
                        </div>   
                        
                    </div>              
                </div>           
            </nav> 
            
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#chatModal" style="background-color: purple; border-color: purple; color: white; margin-top: 20px; margin-left: 100px;">
                Online chat
            </button>
            
            <div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="chatModalLabel">Online chat</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Formulario para enviar la pregunta -->
                            <form id="chatForm">
                                <div class="form-group">
                                    <label for="question">Ingrese su pregunta:</label>
                                    <textarea class="form-control" id="question" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="question">Ingrese su correo electronico:</label>
                                    <textarea class="form-control" id="question" rows="1"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <!-- Boton para enviar la pregunta -->
                            <button type="button" class="btn btn-primary" id="sendQuestion">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
            
             <!-- Mensaje de exito -->
            <div class="alert alert-success" role="alert" id="successMessage" style="display: none;">
                ¡Mensaje enviado con Exito!
            </div>

            <!-- jQuery y Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

            <script>
                $(document).ready(function () {
                    // Manejar clic en el boton de enviar
                    $('#sendQuestion').click(function () {
                        // Obtener el valor del campo de pregunta
                        var question = $('#question').val();

                        // Validar que la pregunta no esta vaci­a
                        if (question.trim() === '') {
                            alert('Por favor ingrese una pregunta.');
                            return;
                        }

                        // Simular el envi­o de la pregunta
                        setTimeout(function () {
                            // Limpiar el campo de pregunta
                            $('#question').val('');
                            // Mostrar el mensaje de exito
                            $('#successMessage').fadeIn();
                            // Ocultar el mensaje de exito despues de 3 segundos
                            setTimeout(function () {
                                $('#successMessage').fadeOut();
                            }, 3000);
                        }, 1000);
                    });
                });
            </script>
        </header>
            
        <main>
            <div class="container" style="margin-top: -1px; text-align: center;">
                <h2 class="text-center;"><strong>[[#{plantilla.destacadas}]]</strong></h2>
                <div style="text-align: center">
                    <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgNxI8fyGuY1hDHcNGcACZMI2mTMJBf9j2nLgpO3z5FbvXghg8pgomtf5FhsKF8keWrSoLNP_rHX-7qGZBGYJhSBKf390awN5ChJcgsfXXe917u2ZU94t8tKQv4y4X2gX0KBfi1Am8APKs/s1600/hoteles1.jpg" alt="Imagen Logo" style="width: 200px; height: auto; margin-top: 3px;" >
                </div>
                <div id="carouselExampleSlides" class="carousel slide" data-bs-ride="carousel" style="margin-top: 50px;">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://media.istockphoto.com/id/112261093/es/foto/vista-a%C3%A9rea-de-jaco-costa-rica.jpg?s=612x612&w=0&k=20&c=PYQwgEFc4ecztb20l-PtZP5s4JKold-q2GQbwQ9UAgQ=" class="d-block mx-auto" style="max-width: 80%;" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://media.istockphoto.com/id/1410152086/es/foto/hermosa-piscina-y-resort-en-la-selva-tropical-de-costa-rica.jpg?s=612x612&w=0&k=20&c=cKpDYnsQ3Lzq_8XTDtWTQ2SX_LtaukVCxNOe91xfrTc=" class="d-block mx-auto" style="max-width: 600%;" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://media.istockphoto.com/id/1283972035/es/foto/vibraciones-veraniegos.jpg?s=612x612&w=0&k=20&c=3geV_t1YeGIuWeg8kJ-rdg050kBfc64Qnp15a7zOd1A=" class="d-block mx-auto" style="max-width: 80%;" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        
        <footer th:fragment="footer" class="text-dark mt-5 p-2" style="background-color: #E0E0E0;">     
            <div class="container">       
                <div class="col">          
                    <p class="lead text-center">       
                        &COPY [[#{plantilla.derechos}]]    
                    </p>    
                </div>      
            </div>    
        </footer>  
    </body>
</html>